.top__container{
    position: absolute;
    z-index: 1000;
    height: 100px;
    width:100%;
    background-color:#fff;
    animation: top-container-up .4s;
    animation-fill-mode:forwards;
    animation-timing-function: ease-out;
}
@keyframes top-container-up
{
from {top:100%;}
to {top:0px;}
}
.search__container{
    position: absolute;
    width:92%;
    margin-left: 8%;
    margin-top:1%;
}
.back__arrow{
    position: absolute;
    margin-left: 1%;
    margin-top:4%
}
.start__hint__container{
    position: absolute;
    margin-left: 8%;
    margin-top:10%;
    width: 80%;
    z-index: 2000;
    font-size:10px;
}
.end__hint__container{
    position: absolute;
    margin-left: 8%;
    margin-top:22%;
    width: 80%;
    z-index: 2000;
    font-size:10px;
}

.bottom__container{
    position: absolute;
    z-index: 1000;
    margin-top:333.5px;
    width: 100%;
    height: 50%;
    background-color: #fff;
    animation: bottom-container-up .4s;
    animation-fill-mode:forwards;
    animation-timing-function: ease-out;
}
@keyframes bottom-container-up
{
from {top:100%;}
to {top:0%;}
}
.bottom__container__move__up{
    position: absolute;
    z-index: 1000;
    margin-top:333.5px;
    width: 100%;
    height: 50%;
    background-color: #fff;
    animation:bulk-move-up .4s;
    animation-fill-mode:forwards;
    animation-timing-function: ease-out;
}
@keyframes bulk-move-up
{
from {top:0px;}
to {top:-150px;}
}
.bottom__container__move__down{
    position: absolute;
    z-index: 1000;
    margin-top:333.5px;
    width: 100%;
    height: 50%;
    background-color: #fff;
    animation:bulk-move-down .4s;
    animation-fill-mode:forwards;
    animation-timing-function: ease-out;
}
@keyframes bulk-move-down
{
from {top:-150px;}
to {top:0px;}
}
.bottom__tittle__container{
    position: relative;
    width: 100%;
    height: 43px;
    /* background-color: green; */
}
.bottom__tittle{
    font-size: 18px;
    padding-top:10.5px;
    text-align: center;
}
.bottom__rider__container{
    width: 100%;
    height: 105px;
    /* background-color: red; */
}
.bottom__rider__text{
    width: 100%;
    height: 37px;
    padding-top:15px;
    /* background-color: green; */
    color:#aaa;
    text-align: center;
}
.bottom__rider__typography{
    color:#aaa;
    text-align: center;
}
.bottom__rider__number{
    width: 100%;
    height: 42px;
    background-color: blue;
}
.bottom__rider__estimate__distance{
    width: 100%;
    height: 23px;
    padding-top:9px; 
    /* background-color: aqua; */
}
.bottom__rider__estimate__price{
    width: 100%;
    height: 19px;
    padding-top: 6px;
    /* background-color: rebeccapurple; */
}
.bottom__rider__price{
    width: 100%;
    height: 52px;
    padding-top: 29px;
    /* background-color: green; */
}
.bottom__rider__submit{
    width: 100%;
    height: 53.5px;
    /* background-color: yellow; */
}
.divider__price{
    height: 1px;
    margin-left: 2.93333%;
    padding: 0;
    position: absolute;
    margin-top:8px; 
}
.divider__title{
    height: 1px;
    margin-left: 2.93333%;
    padding: 0;
    position: absolute;
    margin-top:12px; 
}
.money__sign{
    height: 23px;
    position: absolute;
    z-index: 2000;
    margin-top:27px;
    margin-left:9px;
}