.top__container{
    position: absolute;
    z-index: 1000;
    height: 100px;
    width:100%;
    background-color:#fff;
    animation: top-container-up .4s;
    animation-fill-mode:forwards;
    animation-timing-function: ease-out;
}
@keyframes top-container-up
{
from {top:100%;}
to {top:0px;}
}
.search__container{
    position: absolute;
    width:92%;
    margin-left: 8%;
    margin-top:1%;
}
.back__arrow{
    position: absolute;
    margin-left: 11px;
    margin-top:4%
}
.start__hint__container{
    position: absolute;
    margin-left: 8%;
    margin-top:10%;
    width: 80%;
    z-index: 2000;
    font-size:10px;
}
.end__hint__container{
    position: absolute;
    margin-left: 8%;
    margin-top:22%;
    width: 80%;
    z-index: 2000;
    font-size:10px;
}

.bottom__container{
    position: absolute;
    z-index: 1000;
    margin-top:357.5px;
    width: 100%;
    height: 50%;
    /* background-color: #fff; */
    animation: bottom-container-up .4s;
    animation-fill-mode:forwards;
    animation-timing-function: ease-out;
}
@keyframes bottom-container-up
{
from {top:100%;}
to {top:0%;}
}
.bottom__container__move__up{
    position: absolute;
    z-index: 1000;
    margin-top:357.5px;
    width: 100%;
    height: 50%;
    /* background-color: #fff; */
    animation:bulk-move-up .4s;
    animation-fill-mode:forwards;
    animation-timing-function: ease-out;
}
@keyframes bulk-move-up
{
from {top:0px;}
to {top:-140px;}
}
.bottom__container__move__down{
    position: absolute;
    z-index: 1000;
    margin-top:357.5px;
    width: 100%;
    height: 50%;
    /* background-color: #fff; */
    animation:bulk-move-down .4s;
    animation-fill-mode:forwards;
    animation-timing-function: ease-out;
}
@keyframes bulk-move-down
{
from {top:-140px;}
to {top:0px;}
}
.bottom__tittle__container{
    width: 353.5px;
	height: 28.5px;
	opacity: 0.5;
	border-radius: 5px;
    background-color: #000000;
    margin-left:11px;
    color:white;
    text-align: center;
    box-sizing: border-box;
    padding-top:7.5px;
    font-family: 'PingFang-SC-Medium';
    font-weight: 100 !important; 
}
.bottom__tittle{
    font-size: 18px;
    padding-top:10.5px;
    text-align: center;
}
.bottom__rider__container{
    margin-top:11px;
    margin-left:11px;
    width: 353px;
	height: 202px;
	border-radius: 5px;
    background-color: #ffffff;
    box-sizing: content-box;
    font-family: 'PingFang-SC-Medium' ;
}
.bottom__rider__text{
    width: 100%;
    margin-top:12px;
    /* background-color: green; */
    color:#aaa;
    text-align: center;
}
.bottom__rider__typography{
    color:#aaa;
    text-align: center;
}
.bottom__rider__number{
    width: 100%;
    height: 65px;
    padding-top:23px;
    /* background-color: blue; */
    box-sizing: border-box;
}
.bottom__rider__estimate__distance{
    width: 100%;
    height: 23px;
    padding-top:9px; 
    /* background-color: aqua; */
}
.bottom__rider__estimate__price{
    width: 100%;
    height: 19px;
    padding-top: 6px;
    /* background-color: rebeccapurple; */
}
.bottom__rider__price{
    width: 100%;
    margin-top:31.5px;
    height: 31.5px;
    /* background-color: green; */
}
.price__warning{
    margin-top:12px;
    color:#e24526;
    text-align: center;
    font-size: 14px;
}

.bottom__rider__submit{
    width: 100%;
    height: 44px;
    width: 353px;
    margin-top:11px;
    margin-left:11px;
    background-image: linear-gradient(to right, #1e5799 0%,#2774e8 0%,#2283e2 70%,#1c91dc 100%);
    border-radius: 5px;
    padding-top:13px;
    box-sizing: border-box;
    color:#fff;
    font-size: 18px;
    text-align: center;
    font-weight: 100 !important; 
}
.divider__price{
    height: 1px;
    margin-left: 2.93333%;
    padding: 0;
    position: absolute;
    margin-top:8px; 
}
.divider__title{
    height: 1px;
    margin-left: 2.93333%;
    padding: 0;
    position: absolute;
    margin-top:12px; 
}
.money__sign{
    height: 23px;
    position: absolute;
    z-index: 2000;
    margin-top:0px;
    margin-left:36.5px;
}
.circle__container{
    margin-left:39.5px;
    height: 42px;
    background-color:black;
}

.circle{
    height: 42px;
    width:42px;
    border-radius: 21px;
    background-color: red;
    position: absolute;
    margin-left: 14px;
    padding-top:13px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: bold;
}

.cicle__active{
    height: 42px;
    width:42px;
    border-radius: 21px;
    background-color: blue;
}