

.normal {
  font-family: Georgia, sans-serif;
  background-color:rgba(0,0,0,0);
  height: 100%;
}


.map__container {
  height: 100%;
  width: 100%;
  top:0;
  left:0;
  z-index: auto;
  position: absolute;
}

.page__head {
  z-index:100;
  /* position: relative; */
  /* height: 100%; */
}
