

.normal {
  font-family: Georgia, sans-serif;
  background-color:rgba(0,0,0,0);
  height: 100%;
}


.map__container {
  height: 100%;
  width: 100%;
  top:0;
  left:0;
  z-index: auto;
  position: absolute;
}

.page__head {
  z-index:100;
  /* position: relative; */
  /* height: 100%; */
}
.button__bottom{
  position:absolute;
  margin-left: 155px;
  margin-top:589px;
  z-index: 1;
  background: url('../assets/X311Y1178.png') no-repeat top;
  background-size: 100%;
}
.button__bottom:active{
  position:absolute;
  margin-left: 155px;
  margin-top:589px;
  z-index: 1;
  background: url('../assets/X311Y1178 X.png') no-repeat top;
  background-size: 100%;
}

.button__bottom__filler{
  width: 74px;
  height: 74px;
}