.bottom__container{
    position: absolute;
    z-index: 2000;
    width:100%;
    margin-top:0px;
    height: 160px;
    font-family: 'PingFang-SC-Medium';
    /* background-color: #000; */
}
.bottom__background__mask{
    position: absolute;
    z-index: 1000;
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    /* background-color: #000; */
}

.bottom__confirm__card{
    width: 100%;
    height: 160px;
    /* margin-left: 11px;
    border-radius: 5px; */
    background-color: #fff;
    box-sizing: border-box;
}

.bottom__submit__button{
    width: 100%;
    height: 44px;
    width: 353px;
    margin-top:11px;
    margin-left:11px;
    background-image: linear-gradient(to right, #1e5799 0%,#2774e8 0%,#2283e2 70%,#1c91dc 100%);
    border-radius: 5px;
    padding-top:13.5px;
    box-sizing: border-box;
    color:#fff;
    font-size: 18px;
    text-align: center;
    font-weight: 100 !important; 
}

.bottom__card__title{
    position: absolute;
    margin-top: 31px;
    margin-left: 46px;
    font-size: 18px;
    font-weight: 600;
    color: #333333;
}
.bottom__card__info{
    position: absolute;
    margin-left: 44.5px;
    margin-top: 59px;
    color: #333333;
    font-size: 12px;
}
.bottom__card__contact{
    margin-top: 8.5px;
    text-align: center;
    color:#2774e8;
    text-decoration-line: underline;
    font-size: 11px;
}
.divider__title{
    width:331px;
    height: 1px;
    margin-left: 22px;
    margin-right: 11px;
    margin-top: 86.5px;
    /* padding: 0; */
    position: absolute;
    /* margin-top:11.5px;  */
  }
.bottom__distance__title{
    position: absolute;
    transform: translate(-50%,50%);
    top: -5.5px;
    margin-left: 81px;
    margin-top: 105px;
    font-size: 11px;
    color:#666;
}
.bottom__distance{
    position: absolute;
    margin-left: 54.5px;
    margin-top: 126px;
    transform: translate(-50%,50%);
    top: -4.25px;
    margin-left: 81px;
    font-size: 12px;
}

.bottom__pax__title{
    position: absolute;
    transform: translate(-50%,50%);
    top: -5.5px;
    margin-left: 187.5px;
    margin-top: 105px;
    font-size: 11px;
    color:#666;
}
.bottom__pax{
    position: absolute;
    margin-left: 187.5px;
    margin-top: 126px;
    font-size: 14px;
    font-weight: 400;
    transform: translate(-50%,50%);
    top: -4.25px;
    font-size: 12px;
}
.bottom__time__title{
    position: absolute;
    transform: translate(-50%,50%);
    top: -5.5px;
    margin-left: 294px;
    margin-top: 105px;
    font-size: 11px;
    color:#666;
}
.bottom__time{
    position: absolute;
    margin-left: 294px;
    margin-top: 126px;
    font-size: 14px;
    font-weight: 400;
    transform: translate(-50%,50%);
    top: -4.25px;
    font-size: 12px;
}
.end__icon{
    margin-top: 34.5px;
    margin-left: 298px;
    width:32px;
    height: 32px;
    position: absolute;
    background-color: #000;
    /* background-image: url();
    background-size: contain;
    background-repeat: no-repeat; */
}
.button__contact{
    position: absolute;
    z-index: 3000;
    margin-left: 11px;
    margin-top: 609px;
    width: 168.5px;
    height: 44px;
    background-color: #fff;
    border-radius: 5px;
    font-size: 16px;
    color: #333333;
    font-weight: 400;
    box-sizing: border-box;
    padding-top: 14px;
    padding-left: 20.5px;
}
.button__confirm{
    position: absolute;
    z-index: 3000;
    margin-left: 195.5px;
    margin-top: 609px;
    width: 168.5px;
    height: 44px;
    background-image: linear-gradient(to right, #ffbc3b 0%,#ffa632 100%);
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    box-sizing: border-box;
    padding-top: 14px;
    padding-left: 37px;
}