.base__container{
    width:100%;
    height: 100%;
    position: absolute;
    background-color: #f2f2f2;
    font-family: 'PingFang-SC-Regular'
}
.top__container{
    position: absolute;
    width: 100%;
    height: 64px;
    background-color: #fff;
}
.back__arrow{
    position: absolute;
    margin-left: 18px;
    margin-top: 32px;
}
.top__title{
    font-weight: 600;
    font-size: 18px;
    margin-left: 45.5px;
    margin-top: 31px;
    position: absolute;
}
.history__scroller{
    position: absolute;
    margin-top: 64px;
    height: 603px;
    width: 100%;
    overflow-y: scroll;
    background-color: #f2f2f2;
    margin-right: -20px;
    padding-right: 20px;
}
.history__card__container{
    /* margin-top: 11px; */
    margin-left: 10.5px;
    position: relative;
    width: 353.5px;
    height: 182px;
}
