.button{
    /* position: relative; */
    position:absolute;
    margin-left: 11px;
    margin-top:19px;
    z-index: 1;
}
.button__bottom{
    position:absolute;
    margin-left: 155px;
    margin-top:589px;
    z-index: 1;
    background: url('../../assets/X311Y1178.png') no-repeat top;
    background-size: 100%;
}
.button__bottom:active{
    position:absolute;
    margin-left: 155px;
    margin-top:589px;
    z-index: 1;
    background: url('../../assets/X311Y1178 X.png') no-repeat top;
    background-size: 100%;
}

.button__bottom__filler{
    width: 74px;
    height: 74px;
}

.button__traffic__deactive{
    position:absolute;
    margin-left: 333px;
    margin-top:98px;
    z-index: 1;
    background: url('../../assets/X667Y196路况2.png') no-repeat top;
    background-size: 100%;
}

.button__traffic__deactive:active{
    position:absolute;
    margin-left: 333px;
    margin-top:98px;
    z-index: 1;
    background: url('../../assets/X667Y196路况2 X.png') no-repeat top;
    background-size: 100%;
}

.button__traffic__active{
    position:absolute;
    margin-left: 333px;
    margin-top:98px;
    z-index: 1;
    background: url('../../assets/X667Y196路况.png') no-repeat top;
    background-size: 100%;
}

.button__traffic__active:active{
    position:absolute;
    margin-left: 333px;
    margin-top:98px;
    z-index: 1;
    background: url('../../assets/X667Y196路况 X.png') no-repeat top;
    background-size: 100%;
}
.button__focus{
    position:absolute;
    margin-left: 333px;
    margin-top:132px;
    z-index: 1;
    background: url('../../assets/X667Y268回到原点.png') no-repeat top;
    background-size: 100%;
}
.button__focus:active{
    position:absolute;
    margin-left: 333px;
    margin-top:132px;
    z-index: 1;
    background: url('../../assets/X667Y268回到原点 X.png') no-repeat top;
    background-size: 100%;
}

.button__side__filler{
    width: 35px;
    height: 35px;
}
.button__menu{
    position: absolute;
    z-index: 2;
    width: 15px;
    height: 15px;
    margin-left: 15.5px;
    margin-top: 32px;
    background-image: url('../../assets/driver_menu.png');
    background-size: contain;
}

.button__animated{
    position:absolute;
    margin-left: 11px;
    margin-top:19px;
    z-index: 1000;
    animation: mymove .6s;
    animation-fill-mode:forwards;
    animation-timing-function: ease-out;
    opacity: 0;
}

.button__animated_reverse{
    position:absolute;
    margin-left: 11px;
    margin-top:19px;
    z-index: 1;
    /* animation: mymove_reverse .6s;
    animation-fill-mode:forwards;
    animation-timing-function: ease-out;
    opacity: 0; */
}

@keyframes mymove
{
from {top:0px;}
to {top:90px;}
}
@keyframes mymove_reverse
{
from {top:90px;}
to {top:0px;}
}


.sidebar__background {
 background-image: url('../../assets/side_bar_bg.png');
 background-size: contain;
 width: 232px;
 height: 667px;
 position: relative;
 z-index: -2;
 /* background-color: #2b71db; */
}
.sidebar__mask {
 background-size: 275px 667px;
 /* background: url('../../assets/sidebar-mask.png') no-repeat top; */
}

.sidebar__menu {
    margin-top: 143px;
    position: absolute;
    width: 232px;
    height: 524px;
    /* background-color:rgba(0,0,0, 0.7); */
    font-size: 16px;
    color: #333333;
    /* background: url('../../assets/sidebar-layer2.png') no-repeat top; */
}
.sidebar__menu__filler {
    width: 275px;
    height: 571px;
    font-size: 1em;
}
.history__icon{
    margin-left: 27.5px;
    margin-top: 50.5px;
    position: absolute;
    background-image: url('../../assets/side_history.png');
    background-size: contain;
    width: 13px;
    height: 13px;
}
.history__text{
    position: absolute;
    margin-left: 58.5px;
    margin-top: 51px;
    font-size: 13px;
    font-weight: 400;
}
.privacy__icon{
    margin-left: 27.5px;
    margin-top: 96px;
    position: absolute;
    background-image: url('../../assets/side_privacy.png');
    background-size: contain;
    width: 13px;
    height: 13px;
}
.privacy__text{
    position: absolute;
    margin-left: 58.5px;
    margin-top: 96px;
    font-size: 13px;
    font-weight: 400;
}
.about__icon{
    margin-left: 27.5px;
    margin-top: 141.5px;
    position: absolute;
    background: url('../../assets/side_about.png') no-repeat;
    background-size: contain;
    width: 13px;
    height: 13px;
}
.about__text{
    position: absolute;
    margin-left: 58.5px;
    margin-top: 141px;
    font-size: 13px;
    font-weight: 400;
}
.exit__icon{
    margin-left: 29px;
    margin-top: 203.5px;
    position: absolute;
    background: url('../../assets/side_exit.png') no-repeat;
    background-size: contain;
    width: 13px;
    height: 13px;
}
.exit__text{
    position: absolute;
    margin-left: 58.5px;
    margin-top: 204px;
    font-size: 13px;
    font-weight: 400;
}
.side__avatar{
    position: absolute;
    width: 32px;
    height: 32px;
    margin-left: 100px;
    margin-top: 41.5px;
    background-image: url('../../assets/side_avatar.png');
    background-size: contain;
}
.phone__number{
    position: absolute;
    font-size: 18px;
    font-family: "PingFang-SC-Medium";
    color:#fff;
    margin-top: 81px;
    top: -7px;
    margin-left: 116px;
    transform: translate(-50%,50%)
}
.money__text{
    margin-left: 26.5px;
    margin-top: 114px;
    position: absolute;
    font-family: "PingFang-SC-Bold";
    color:#fff;
    font-size: 12px;
}
.money__amount{
    margin-left: 138.5px;
    margin-top: 114px;
    position: absolute;
    font-family: "PingFang-SC-Bold";
    color:#fff;
    font-size: 12px;
}
.my-drawer {
    position: relative;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  .my-drawer .am-drawer-sidebar {
    background-color: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  .my-drawer .am-drawer-sidebar .am-list {
    width: 300px;
    padding: 0;
  }
  
