.bottom__container{
    position: absolute;
    z-index: 2000;
    width:100%;
    height: 163.5px;
    /* margin-top: 478px; */
    font-family: 'PingFang-SC-Medium';
    /* background-color: black; */
    font-weight: 400;
}
.bottom__car__card{
    width: 100%;
    height: 163.5px;
    /* margin-left: 11px; */
    /* border-radius: 5px; */
    background-color: #fff;
    box-sizing: border-box;
}
.bottom__card__title{
    position: absolute;
    margin-top: 31px;
    margin-left: 46px;
    font-size: 18px;
    font-weight: 600;
    color: #333333;
}
.bottom__card__info{
    position: absolute;
    margin-left: 44.5px;
    margin-top: 59px;
    color: #333333;
    font-size: 12px;
}
.bottom__card__title__icon{
    margin-top: 20px;
    margin-left: 133px;
    width:16px;
    height: 16px;
    background-color: #fff;
    color: #666666;
    text-align: center;
    position: absolute;
}
.bottom__card__corner__icon{
    margin-top: 34.5px;
    margin-left: 304px;
    width:22.5px;
    height: 32px;
    position: absolute;
    background-color: #000;
    /* background: url('../../assets/call_driver.png') no-repeat;
    background-size: contain; */
}
.bottom__brand__title{
    position: absolute;
    transform: translate(-50%,50%);
    top: -5.5px;
    margin-left: 81px;
    margin-top: 105px;
    font-size: 11px;
    color:#666;
}
.bottom__brand{
    position: absolute;
    margin-left: 54.5px;
    margin-top: 126px;
    transform: translate(-50%,50%);
    top: -6.25px;
    margin-left: 81px;
}
.bottom__color__title{
    position: absolute;
    transform: translate(-50%,50%);
    top: -5.5px;
    margin-left: 294px;
    margin-top: 105px;
    font-size: 11px;
    color:#666;
}
.bottom__color{
    position: absolute;
    margin-left: 294px;
    margin-top: 126px;
    font-size: 14px;
    font-weight: 400;
    transform: translate(-50%,50%);
    top: -6.25px;
   
}
.bottom__license__title{
    position: absolute;
    transform: translate(-50%,50%);
    top: -5.5px;
    margin-left: 187.5px;
    margin-top: 105px;
    font-size: 11px;
    color:#666;
}
.bottom__license{
    position: absolute;
    margin-left: 187.5px;
    margin-top: 126px;
    font-size: 14px;
    font-weight: 400;
    transform: translate(-50%,50%);
    top: -6.25px;
}
.bottom__car__cancel{
    position: absolute;
    width: 353px;
    margin-top: 145.5px;
    text-align: center;
    color:#e82727;
    text-decoration-line: underline;
    font-size: 11px;
}

.divider__title{
    width:331px;
    height: 1px;
    margin-left: 22px;
    margin-right: 11px;
    margin-top: 86.5px;
    /* padding: 0; */
    position: absolute;
    /* margin-top:11.5px;  */
  }
.cancel__button{
    position: absolute;
    margin-left: 15.5px;
    margin-top: 32px;
    width:15px;
    height:15px;
    background-image: url('../../assets/cancel.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.cancel__mask{
    position: absolute;
    margin-left: 0px;
    margin-top: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.15);
    z-index: 5000;
}
.cancel__confirmed__info{
    position: absolute;
    margin-left: 65.5px;
    margin-top: 263px;
    height: 141px;
    width: 244px;
    background-image: url('../../assets/cancel_success_charged.png');
    background-size: 244px 141px;
    background-repeat: no-repeat;
    z-index: 5000;
}