.bottom__container{
    position: absolute;
    z-index: 2000;
    width:100%;
    height: 165.5px;
    margin-top: 487.5px;
    font-family: 'PingFang-SC-Medium';
    /* background-color: black; */
    font-weight: 400;
}
.bottom__car__card{
    width: 353px;
    height: 165.5px;
    margin-left: 11px;
    border-radius: 5px;
    background-color: #fff;
    box-sizing: border-box;
}
.bottom__card__title{
    margin-top: 21px;
    margin-left: 152px;
    font-size: 14px;
    color: #666666;
    text-align: center;
    position: absolute;
}
.bottom__card__title__icon{
    margin-top: 20px;
    margin-left: 133px;
    width:16px;
    height: 16px;
    background-color: #000;
    color: #666666;
    text-align: center;
    position: absolute;
}
.bottom__card__corner__icon{
    margin-top: 15px;
    margin-left: 310px;
    width:26px;
    height: 26px;
    position: absolute;
    background-color: #000;
}
.bottom__brand__title{
    position: absolute;
    margin-left: 42.5px;
    margin-top: 71px;
    font-size: 14px;
    color:#666;
}
.bottom__brand{
    position: absolute;
    margin-left: 54.5px;
    margin-top: 96px;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: #000;
}
.bottom__color__title{
    position: absolute;
    margin-left: 255.5px;
    margin-top: 71px;
    font-size: 14px;
    color:#666;
}
.bottom__color{
    position: absolute;
    margin-left: 270px;
    margin-top: 105.5px;
    font-size: 14px;
    font-weight: 400;
   
}
.bottom__license__title{
    position: absolute;
    margin-left: 156px;
    margin-top: 71px;
    font-size: 14px;
    color:#666;
}
.bottom__license{
    position: absolute;
    margin-left: 137.5px;
    margin-top: 105.5px;
    font-size: 14px;
    color:#333333;
    text-align: center;
    font-weight: 600;
    /* width:78px; */
    /* height: 13px; */
}
.bottom__car__cancel{
    position: absolute;
    width: 353px;
    margin-top: 132.5px;
    text-align: center;
    color:#2774e8;
    text-decoration-line: underline;
    font-size: 11px;
}

.divider__title{
    width:331px;
    margin-left: 11px;
    margin-right: 11px;
    margin-top: 54px;
    /* padding: 0; */
    position: absolute;
    /* margin-top:11.5px;  */
  }