.search__blurred{
    /* background-color: red; */
    position: absolute;
    width: 329px;
    height: 25.5px;
    /* border-radius: 5px; */
    /* border:1px solid black; */
    background-color: #fff;
    /* box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.15); */
    font-size: 13px;
    z-index:3000;
}

.search__focused{
    /* background-color: red; */
    position: absolute;
    width: 353px;
    height: 55px;
    border-radius: 5px;
    background-color: #fff;
    /* border:1px solid #2774e8; */
    box-shadow: 0px 0px 16px 0px rgba(39, 116, 232, 0.5);
    font-size: 14px;
    color: #2774e8
}

.search__error{
    /* background-color: red; */
    position: absolute;
    width: 353px;
    height: 55px;
    border-radius: 5px;
    background-color: #fff;
    /* border:1px solid #e24526; */
    box-shadow: 0px 0px 8px 0px rgba(242, 17, 45, 0.5);
    font-size: 14px;
    color:#f2112d;
}

.search__caption{
    position: absolute;
    margin-left: 20.5px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
}

.search__icon{
    position: absolute;
    margin-left: 26px;
    margin-top: 3px;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    /* background-color: green; */
}

.search__field__normal{
    position: absolute;
    margin-left: 52px;
    margin-top: 0px;
    padding: 0;
    border-width: 0;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 200px;
    font-size: 13px;
}
.search__divider{
    position: absolute;
    height: 1px;
    width: 329px;
    margin-top: 24.5px;
}